
<div>
  <h2>Create your own <a href="/groups/new">Cafe</a>!</h2>
  
</div>
<div>
    {{#each listOfGroups}}
      <div>
        <img src="{{this.image}}" alt="">
        
        <h3><a href='/group/{{this._id}}'>{{this.name}}</a></h3>
        <p>{{this.description}}</p>
     </div>
     <hr>
    {{/each}}
</div>