<h2>Create a Cafe</h2>
<p>Once you create your own cafe you will become the barista of that cafe. Now, Let's get Brewing!</p>

<form action="/groups/create" method="post">

  <label>Name</label>
  <input type="text" name="name">
  <br>
  <label>Description</label>
  <textarea name="description" cols="30" rows="10" placeholder="Let the beans know they are welcome, the rules of your cafe, and to enjoy themselves."></textarea>

  {{!-- Time to Grind some Beans! --}}
  <button type="submit">Let's open up Shop!</button>
</form>