<header>

</header>

<div class="group-content">
  The Page Content
</div>

<div class="members">
  <div class="group-img">
    <img src="/images/groupDefault.jpeg" alt="Cafe default image">
  </div>
  <div class="group-user">
    {{#each users}}
     <span>{{this.image}}</span>
      {{this.username}}
    {{/each}}
  </div>
  <div id="chatbox">
    <div class="col-xs-5">
      <textarea id="message" rows="4" col="20" maxlength="50" placeholder="Say Hello"></textarea>
    </div>
    <br>
    <div id="send">
      <button id="sendChat" type="button">Send</button>
    </div>
    <br>
    <div id="chatArea">

    </div>

    </div>
    <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="photo">
      <div class="content">
        <p>Posts</p>
        <button type="submit">submit</button>
      </div>
    </form>
</div>


{{!-- <div class='center-chatbox'>
  <h3>The Cafe name here</h3>
  <p id="users-name"></p>

  <div id="chatbox"><div id="chat-area"></div></div>

  <form id="sendChat">
    <p>Say Hello: </p>
    <textarea id="sendIt" maxlength="100"></textarea>
  </form>

</div> --}}

