<header>

</header>

<div class="members">
  <div class="group-img">
    <img src="/images/groupDefault.jpeg" alt="Cafe default image">
  </div>
  {{!-- <div class="group-user">
    {{#each users}}
     <span>{{this.image}}</span>
      {{this.username}}
    {{/each}}
  </div>
  <div id="chatbox"></div>
  <div class="chat-box">
    <label>Say Hello</label>
    <input type="text" id="chatMessage">

    <button id="sendChat">Send</button>
  </div>
  
</div> --}}

<div class='center-chatbox'>
  <h3>The Cafe name here</h3>
  <p id="users-name"></p>

  <div id="chatbox"><div id="chat-area"></div></div>

  <form id="sendChat">
    <p>Say Hello: </p>
    <textarea id="sendIt" maxlength="100"></textarea>
  </form>

</div>

