<div class="group-content">
<header>

  {{!-- The Page Content --}}

</header>

<div class="members">

  <div class="group-user">
    {{#each users}}

     <span>{{this.image}}</span>

      {{this.username}}

    {{/each}}
  </div>

  <div id="chatbox">
    <div class="message-area">
      <textarea id="message" rows="4" col="20" maxlength="50" placeholder="Say Hello"></textarea>
    </div>

    <br>

    <div id="send">
      <button id="sendChat" type="button">Send</button>
      <br>
    <div id="chatArea"></div>
    </div>

    <br>
    </div>

    <a href="/group/{{group._id}}/post"><button>Post</button></a>

    <div>
      {{#each group.posts}}
      <img class="max-min" src="{{this.posted}}" alt="">
      {{/each}}
    </div>

</div>


{{!-- <div class='center-chatbox'>
  <h3>The Cafe name here</h3>
  <p id="users-name"></p>

  <div id="chatbox"><div id="chat-area"></div></div>

  <form id="sendChat">
    <p>Say Hello: </p>
    <textarea id="sendIt" maxlength="100"></textarea>
  </form>

</div> --}}

</div>
