
<div class="login-container">
  <div class="content-container">

    <h1>Login</h1>
    
    {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}

    <form action="" method="post">
      <div>

      <label>Username</label>
      <br>
      <input type="text" id="username" name="username">
      <br>
      <label>Password</label>
      <br>
      <input type="password" id="password" name="password">
      <br>

      {{#if message}}
      <div>{{message}}</div>
      {{/if}}

        {{!-- <div>
      <label>
      
      <input type="checkbox" checked="checked" name="remember">
        Rememer this bean
      </label>
        </div> --}}

      <button type="submit">To the Coffee Pot!</button>
      </div>
    </form>
  
  </div>
</div>