<div>

<form action="/user/page/{{theUser._id}}/post" method="post" enctype="multipart/form-data">

      <label for="">Leave a post</label>
      <br>
      <input type="file" name="aPost">
      <br>
      <button>Submit</button>
    </form>

</div>