<h1>Let's get to know each other!</h1>

<form action="" method="get">
  <div>
    <label for="">Bio</label>
    <textarea name="theBio" id="bio" cols="20" rows="10" placeholder="Let people know what type of bean you are. Silly Bean. Healthy Bean. Fancy Bean."></textarea>
  </div>

  <div>
    <label for="">Quote or Favorite Saying</label>
    <br>
    <textarea name="theQuote" id="quote" cols="20" rows="10"></textarea>
  </div>

  <div>
    <label for="">Favorite Place to Be</label>
    <input type="text" id="favPlace" name="theFavPlace">
  </div>

  <div>
    <label for="">What's your favorite cup of coffee?</label>
  </div>

</form>

