<div class="signUp-container">
<div class="content-container">

<h1>Bean Me up Pottie!</h1>

<br>
{{#if errorMessage}}

<div><b>{{errorMessage}}</b></div>

{{/if}}
<br>

<form action="/signup" method="post">

<div>
  <label for="username">Create a Username</label>
  <br>
  <input type="text" id="username" name="theUsername" placeholder="Cracked Mug">
  <br>
  <label for="password">Create a Password</label>
  <br>
  <input type="password" id="password" name="thePassword" placeholder="Still Good">
  <br>

{{!-- <button type="button" class="btn btn-primary">Let's Get Brewing!</button> --}}
<button type="submit">Let's get Brewing!</button>

</div>
</form>
</div>
</div>