<header>
  <h1>Welcome</h1>
  <div>
    {{!-- <h3>What's brewing in the community?</h3>
    <div class="per-Page-Stuff">
      New Stuff Here.
    </div> --}}
  </div>
</header>
<section>
  <aside>
    {{!-- <div>
      {{image}}
    </div>
    <h4>{{theUsername}}</h4>
    <p>Bio</p>
    <p>Other Stuff</p>
     --}}

  </aside>
</section>