

<header>
  <h1>Welcome</h1>
  <div>
    <h3>What's brewing in the community?</h3>
    <div class="per-Page-Stuff">
      New Stuff Here.
    </div>
  </div>
</header>
<section>
  <aside class="user-groups">
    <h3>Cafe's</h3>
    {{#each theUser.group}}
      {{group.image}}
      {{group.name}}
    {{/each}}
    <div class="per-Page-Stuff">
      <p>Don't forget you can always join a new <b><a href="/groups">Cafe</a></b> anytime.</p>
    </div>
  </aside>
  <aside class="user-section">
    
    <div>
      <img src="{{theUser.image}}" alt="You">
    </div>
    <span>Username: {{theUser.username}}</span>
    <span class="edit-icon"><a href="/user/profileInfo/:id"><img src="/images/edit-pencil-icon(2).jpg.png" alt=""></a></span>
    <p name="theBio" >Bio</p>
    <p>Other Stuff</p>
  </aside>

</section>