body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: chocolate;
}

.welcome-screen{
  width: 98vw;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2017/06/02/11/49/still-life-2366084_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: solid 1px burlywood;
}
nav{
  width: 98vw;
  height: 5vh;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  text-decoration-style: none;
}
.nav-links{
  text-decoration-style: none;
}
nav > a > img{
  width: 35px;
  // display: flex;
  align-self: flex-start;
}
header{
  text-align: center;
  border: solid 1px black;
}
.per-Page-Stuff{
  color: #7e7878;
  vertical-align: bottom;
}
section{
  display: flex;
  justify-content: space-between;
}

.user-section{
  padding: 10px;
  width: 250px;
  height: 450px;
  border: solid 1px black;
  align-self: flex-end;
}

.user-section > h4{
  text-align: center;
}

.user-groups > h4{
  text-align: center;
}

.profile-pic{
  width: 30px;
  border: solid 5px rgb(165, 87, 42);
  border-radius: 50% 50%;
}

.user-groups{
  padding: 10px;
  width: 250px;
  height: 450px;
  border: solid 1px black;
  align-self: flex-start;
}
.members{
  display: flex;
  justify-content: space-between;
}

#chatbox{
  width: 30%;
  display: flex;
  justify-content: center;
  // border: solid 1px #000;
}
#chatArea{
  width: 60%;
  border: solid black 1px;
  float: right;
}
.edit-icon > a > img{
  width: 10px;
}

.profile-form{
  display: flex;
  justify-content: center;
  border: solid 1px #000;
  height: 100%;
}
.profile{
  width: 100vw;
  height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2015/05/31/10/54/coffee-791045_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.group-content{
  width: 100vw;
  height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2014/12/15/17/18/cafe-569349__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // border: solid 1px black;
  // float: right;
  display: flex;
  flex-wrap: wrap;

}
.content{
  width: 100vw;
  float: left;
}
