body {
  padding: 0;
  margin: 0 auto;
  // overflow-y: hidden;
  // overflow: scroll;
  font: 14px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: chocolate;
}

.welcome-screen{
  width: 98vw;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2015/05/07/13/46/cappuccino-756490__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 1px burlywood;
}

.welcome-screen > h1{
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  text-shadow: 4px 3px 2px coral, 6px 4px 4px burlywood, 8px 6px 4px wheat;  
}

.welcome-screen > p{
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.display-name{
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
}

nav{
  width: 98vw;
  height: 5vh;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  text-decoration-style: none;
}
nav > a > img{
  width: 35px;
  // display: flex;
  align-self: flex-start;
}

.signUp-container{
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=217692eafea198d67733b9ee9c3f99d7&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-container > form > div > label{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  
}
.content-container > form > div > button{
  background-color: coral;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content-container{
  padding: 25px;
  background-color: #fff;
  font-size: 20px;
  // margin-top: 5%;
  // margin-bottom: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-container{
  width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2017/04/25/08/02/coffee-beans-2258839__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
.content-contain-login{
  padding: 25px;
  background-color: #fff;
  font-size: 20px;
  padding: 30px;
  // margin-top: 5%;
  // margin-bottom: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-links{
  text-decoration-style: none;
}
.members{
  display: flex;
  justify-content: space-between;
}

#chatbox{
  width: 30%;
  display: flex;
  justify-content: center;
  // border: solid 1px #000;
}
#chatArea{
  width: 60%;
  border: solid black 1px;
  float: right;
}
.edit-icon > a > img{
  width: 10px;
}

.profile-form{
  display: flex;
  justify-content: center;
  border: solid 1px #000;
  height: 100%;
}

.profile-pic{
  max-height: 50px;
  border: solid 5px rgb(165, 87, 42);
  border-radius: 50% 50%;
  display: block;
}
.profile{
  width: 98vw;
  height: 100vh;
  // background: url(https://cdn.pixabay.com/photo/2015/05/31/10/54/coffee-791045_960_720.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
}
.max-min{
  max-width: 30vw;
  max-height: 30vw;
}
#background-personal{
  background: url(/images/coffee-2306471.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
marquee{
  font-size: 20px;
}

@media only screen 
// and (min-width: 375px)
and (max-width: 500px)
// and(resoution: 150dpi)
{
  .user-groups, .profile-content, .user-section{
    // width: 100%;
    display: flex;
    flex-direction: column;
  }
}

header{
  text-align: center;
  border: solid 1px black;
  height: 30vh;
}

.per-Page-Stuff{
  color: #7e7878;
  vertical-align: bottom;
}
section{
  display: flex;
  justify-content: space-between;
}

.user-groups{
  padding: 10px;
  width: 25vw;
  // border: solid 1px black;
  height: 40vh;
  display: flex;
  font-size: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-content{
  padding: 10px;
  width: 50vw;
  height: 350px;
  background-color: burlywood;
  border: 5px #7e7878 solid;
  border-radius: 20px;
  overflow: auto;
  display: flex;
  // flex-wrap: wrap;
}
.btn-stuff > button{
  background-color: rgb(179, 176, 176);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.user-section{
  padding: 10px;
  width: 25vw;
  text-shadow: #fff 2px 5px 6px;
  height: 65vh;
  border: solid 5px grey;
  border-radius: 20px;
  box-shadow: -5px 5px 50px #000 ;
  font-size: 1rem;
  // align-self: flex-end;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  
}

.user-section > h4{
  text-align: center;
}

.user-groups > h4{
  text-align: center;
}
.group-content{
  width: 98vw;
  height: 98vh;
  background: url(https://cdn.pixabay.com/photo/2014/12/15/17/18/cafe-569349__340.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // border: solid 1px black;
  // float: right;
  display: flex;
  flex-wrap: wrap;
}
.content{
  width: 100vw;
  float: left;
}

.group-page{
  width: 98vw;
  height: 100vh;
  // background: url(/images/cubano.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;  
}

.max-min2{
  max-width: 10vw;
  max-height: 10vw;
  display: block;
  // margin-right: 5em;
}
.post-page{
  width: 98vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1522148543752-8cdaa654a796?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0cab69fa83484f8879c04f61a90ebd4&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}
#chatbox{
  margin: 30px;
  width: 30px;
  height: 20px;
}
